RewriteEngine On
ErrorDocument 404 http://localhost/fpe-workbook/404.php
ErrorDocument 500 http://localhost/fpe-workbook/500.php

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
