header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 76px
  line-height: 76px
  background: $yellow
  z-index: 2

  nav
    background: radial-gradient(487.50px at 50% 50%, #E8EC67 0%, rgba(232, 236, 103, 0.8) 100%)
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    transform: translateX(100%)

.active
  nav
    transform: translateX(0)
